.server-listing {
  cursor: pointer;
}

.server-listing:hover {
  font-weight: bold;
}



/* Spirit styles */
.deck {
  background-color: white;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.deck:hover {
  z-index: 10;
}

/* SpiritTile selection and death styles */

.selectable, .selected {
  transition: transform 0.2s;
  cursor: pointer;
}

.selectable:hover {
  transform: translateY(-5px);
}

.selected {
  border: 2px solid black;
  margin: 9px 10px;
  transform: translateY(-5px);
}

.selected:hover {
  border: 3px solid black;
  margin: 8px 10px;
  transform: translateY(-5px);
}

.deck.dead {
  cursor: auto;
  border: 1px solid rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

.deck.dead::after {
  content: var(--cooldown, "0");
  text-shadow: 0px 2px 4px #000000;
  font-size: large;
}

.deck.dead::after, .game-over-message {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
  font-weight: bold;
}

/* ================================= */
/* Spirite and SpiritTile info cards */

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 5px;
  background-color: #00000077;
  color: white;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0);

  opacity: 0;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}

/* Unlike a hover card in a spirit container, for regular hover cards we don't
want hovering it to count so we set pointer events to none. */
.hover-card {
  width: 200px;
  padding: 0 50%;
  transform: translateY(calc(-50%)) scale(0.5);
  pointer-events: none;
  /* backdrop-filter: blur(2px); */ /* Has weird behavior on edge tiles? */
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.selectable:hover .hover-card, .selected:hover .hover-card {
  opacity: 1;
  transform: translateY(calc(-100% - 10px)) scale(1);
}

.spirit-container + .tooltip-card {
  z-index: 100;
  width: 300px;
  padding: 0 50px;
  display: none;
  position: fixed; /* To posiition based on the mouse pointer. */
  opacity: 1;
  pointer-events: none;
}

.spirit-container:hover + .tooltip-card {
  display: block;
}

.cover-card {
  top: 0;
  width: 91%; /* 90% leaves a tiny gap for some reason?? */
  padding: 0 5%;
  height: 100%;

  overflow-y: scroll;
  transform: scale(0.9);
}

.cover-card:hover, .deck:hover .cover-card {
  opacity: 1;
  transform: scale(1);
}

.card p {
  margin-block-end: 0;
}

.card span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}

/* Spirit cover-card scrollbar */
/* width */
.card::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.card::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
.card::-webkit-scrollbar-thumb {
  background: #cccccc77;
}

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: #ececec77;
}

/* Firefox styles, because those stupid baboons
always have to do something differently... */
.card {
  scrollbar-width: thin;
  scrollbar-color: #cccccc77 #00000000;
}
/* =========================== */



/* GameBoard and BoardTile styles */

.tile {
  width: calc(8vmin + 2px);
  height: calc(8vmin + 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.tile:hover {
  border: 1px solid black;
  width: 8vmin;
  height: 8vmin;
}

.selected-tile {
  border: 2px solid black !important;
  width: calc(8vmin - 2px) !important;
  height: calc(8vmin - 2px) !important;
}

.animated-tile {
  animation: pulse 2s infinite;
}

.spirit-tile {
  z-index: 1;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.75; }
  100% { opacity: 1; }
}

.player-one {
  --color: #7DFF8D55;
  cursor: pointer;
}

.player-two {
  --color: #FF7D9D55;
}

.spirit-container {
  filter: drop-shadow(0px 0px 5px #fff);
  background-color: var(--color);
}

.valid-move {
  width: calc(8vmin - 18px);
  height: calc(8vmin - 18px);
  background-clip: padding-box;
  border: 10px solid #00000000; 
  /* The reason the above border is 10 is because the width and height of this box are 20px less than
  the size of a .tile, so we need 10px border on each side to have the same size for the transform below to work. */

  position: absolute;
  transform: translate(calc(100% * var(--xdistance)), calc(100% * var(--ydistance)));
  pointer-events: none;

  animation: on_off 2s infinite;
  --absolute-x: max(var(--xdistance), calc(-1 * var(--xdistance)));
  --absolute-y: max(var(--ydistance), calc(-1 * var(--ydistance)));
  animation-delay: calc(-1s + 120ms * (var(--absolute-x) + var(--absolute-y)));
}

.valid-move.flipped {
  transform: translate(calc(-100% * var(--xdistance)), calc(-100% * var(--ydistance)));
}

@keyframes on_off {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.game-over-message {
  font-size: xx-large;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
  z-index: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ============================== */


/* SpiritBattle styles */
.health-bar {
  background-color: #0b1d0d;
  position: relative;
  width: 5px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.health-bar.horizontal {
  width: 100%;
  height: 5px;
  border: 1px solid white;
}

.health-bar::after {
  background-color: #4fbe5c;
  width: 5px;
  height: calc(100% * var(--fill));
  transition: height .5s cubic-bezier(0,.7,.7,1);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 3px;
}

.health-bar.horizontal::after {
  width: calc(100% * var(--fill));
  height: 5px;
}

.health-bar::before {
  background-color: #be604f;
  width: 5px;
  height: calc(100% * var(--fill));
  transition: height .5s linear;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 3px;
}

.health-bar.horizontal::before {
  display: none;
}

.flashing-sprite .sprite-row {
  animation: on_off .25s infinite;
  animation-iteration-count: 3.5;
}

#attack-button:hover {
  animation: glint 2s infinite;
  --border-color: #ebb6a9;
  --bg-color: #f7ded8;
}

#meditate-button:hover {
  animation: glint 2s infinite;
  --border-color: #b0df90;
  --bg-color: #dcf8cf;
}

#dodge-button:hover {
  animation: glint 2s infinite;
  --border-color: #d9b9df;
  --bg-color: #edd7f1;
}

#charge-button:hover {
  animation: glint 2s infinite;
  --border-color: #dfd790;
  --bg-color: #f8f5cf;
}

@keyframes glint {
  0% {
    border: auto;
    background-color: auto;
  }
  50% {
    border-color: var(--border-color);
    background-color: var(--bg-color);
  }
}

.spirit-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 0 15px;
}

.spirit-stats p {
  margin: 0;
}

.popping-number {
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: x-large;
  z-index: 1;

  animation: pop-and-fall 0.75s cubic-bezier(.51,-0.69,1,.55) forwards;
}

.popping-number.damage {
  color: #e66464;
  text-shadow: 0px 0px 2px #f1abab;
}

.popping-number.heal {
  color: #7ee664;
  text-shadow: 0px 0px 2px #b3f1ab;
}

@keyframes pop-and-fall {
  0% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translate(var(--horizontal), 500%) scale(0.5) rotate(calc(90deg * var(--rotation)));
    opacity: 0;
  }
}

/* Effect Styles */

.heal-pixel {
  animation: green_glow 1s forwards;
  /* animation-iteration-count: 2; */
}

@keyframes green_glow {
  0% {}
  50% { 
    background-color: #4fbe5c; 
    border-color: #42a84e;
  }
  100% {}
}

.frozen-pixel {
  animation: ice_pulse 1s infinite;
}

@keyframes ice_pulse {
  0% { 
    background-color: #9dfcff; 
    border-color: #74eaee;  
  }
  50% { 
    background-color: #c3fdff; 
    border-color: #9cf2f5;
  }
  100% { 
    background-color: #9dfcff; 
    border-color: #74eaee;  
  }
}

.fire-particle {
  width: var(--size, 5px);
  height: var(--size, 5px);
  background-color: #ee7137;
  border: 2px solid #f1abab;
  position: absolute;
  top: calc(50% + var(--offset-y));
  left: calc(50% + var(--offset-x));
  animation: float-and-fade 1s infinite ease-in;
  animation-delay: var(--delay);
}

@keyframes float-and-fade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(calc(-100px + var(--offset-y))) scale(0.1) rotate(720deg);
    opacity: 0;
  }
}

.dodge-text {
  position: absolute;
  top: 35%;
  font-weight: bold;
  font-size: x-large;
  z-index: 1;

  animation: blink 0.5s infinite, rise 1.5s linear infinite;
  text-shadow: 0px 0px 10px #000;
}

@keyframes blink {
  0% { 
    color: rgb(65, 65, 65);
  }
  50% { 
    color: lightgray;
  }
  100% { 
    color: rgb(65, 65, 65);
  }
}

@keyframes rise {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150%) scale(1.25);
    opacity: 0;
  }
}

/* =================== */



/* Demo Styles */
.demo.tile {
  width: calc(4vmin + 2px);
  height: calc(4vmin + 2px);
}

.demo.tile:hover {
  width: 4vmin;
  height: 4vmin;
}

.demo-tile-label {
  position: absolute;
  bottom: -15%;
  pointer-events: none;
  opacity: 0;
  text-transform: uppercase;
}

.demo-tile-label, .demo-move-label::after {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.demo:hover .demo-tile-label {
  opacity: 1;
}

.demo-buttons-container {
  position: relative;
  margin: 1rem 0 4rem 0;
}

.demo-move-label::after {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  content: "Hover any move to see what it does!";
}

#demo-attack-button {
  animation: glint 5s infinite;
  --border-color: #ebb6a9;
  --bg-color: #f7ded8;
}

#demo-attack-button:hover ~ .demo-move-label::after {
  content: "Attack will attempt to damage the other enemy.";
}

#demo-meditate-button {
  animation: glint 5s infinite;
  --border-color: #b0df90;
  --bg-color: #dcf8cf;
}

#demo-meditate-button:hover ~ .demo-move-label::after {
  content: "Meditate reduces incoming damage by 50% and provides a 25% damage boost next move.";
}

#demo-dodge-button {
  animation: glint 5s infinite;
  --border-color: #d9b9df;
  --bg-color: #edd7f1;
}

#demo-dodge-button:hover ~ .demo-move-label::after {
  content: "Dodge grants a chance to dodge all incoming damage.";
}

#demo-charge-button {
  animation: glint 5s infinite;
  --border-color: #dfd790;
  --bg-color: #f8f5cf;
}

#demo-charge-button:hover ~ .demo-move-label::after {
  content: "Charge increases your damage vulnerability by 45%, but provides a 150% damage boost to your next attack.";
}